LIST ALL LIBRARIES REQUIRED AND IF NEEDED INSTALLATION PROCEDURES.

Spacy:

- install spacy library

- if command spacy.load('en_core_web_sm') doesn't work try python -m spacy download en, this should let you run either the command spacy.load('en_core_web_sm') or spacy.load('en')

Gensim: 

gensim library command ldamodel gives DeprecationWarnings on the Numpy function sum if the argument is a generator. 
A possibel solution could be downgrading numpy to version 1.11.3 as version working for gensim stated in the gensim website. (not sure if the model's output changes that much)